<ng-container *ngIf="user$ | async as user">
  <div class="user-detail">
    <div class="row">
      <div class="col text-center">
        <h1>Username: {{ user.login }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 cold-sm-12">
        <img [src]="user.avatar_url" alt="avatar" class="rounded img-fluid" />
      </div>
      <div class="col">
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <app-list
                  title="Followers"
                  [items]="followers$ | async"
                ></app-list>
              </div>
              <div class="col-md-6 col-sm-12">
                <app-list
                  title="Repositories"
                  [items]="repositories$ | async"
                ></app-list>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
